{% extends "weibo/index.html" %}
{% load staticfiles %}
      {% block title %}
      <ul>
        <li><a href="{% url 'weibo:queryset' %}">主页</a></li>
        <li class="active"><a href="{% url 'weibo:denglu' %}">登录</a></li>
        <li><a href="{% url 'weibo:we' %}">关于本网站</a></li>
        <li><a href="{% url 'weibo:liuyan' %}">联系我们</a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>

  <div class="header">
    <div class="header_resize">
      <div class="logo"><h1><a href="index.html">Welcome My Blog</a></h1></div>
    </div>
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          {% if username %}
          欢迎用户：<span class="yonghu">{{ user }}</span>
          <br>账号：<span class="yonghu">{{ username }}</span></br>
          <br>离开时请进行<a href="{% url 'weibo:dengchu' %}">注销</a> </br>
          {% else %}
           账号登录：
          <form action="{% url 'weibo:denglu1' %}" method="post">
            {% csrf_token %}
          <ol><li>
           {{ form.input_username.errors }}
           {{ form.input_username.label_tag }}
           {{ form.input_username }}
          </li><li>
           {{ form.input_password.errors }}
           {{ form.input_password.label_tag }}
           {{ form.input_password }}
          </li><li>
            <br>
            <input type="submit" value="登录"/>
            &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
             &nbsp; &nbsp; &nbsp; &nbsp;
             <a href="{% url 'weibo:zhuce' %}">注册</a>
           </br>
             <div class="clr"></div>
          </li></ol>
          </form>
          {% endif %}
        </div>
      </div>
      {% endblock %}
      